{% extends "layout.html" %}

{% block content %}
<div class="content-section">
    <h2>Chat Interface</h2>

    <!-- Chat container -->
    <div class="chat-container">
        <ul class="chat-messages">
            <!-- Messages will be inserted here dynamically using JavaScript -->
        </ul>
    </div>
</div>
<script src="https://cdn.socket.io/socket.io-4.3.2.js"></script>
<script src="{{ url_for('static', filename='receiver.js') }}"></script>
</div> <!-- Close the content-section div from the layout -->

{% endblock %}
