{% extends "layout.html" %}

{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <div class="d-flex justify-content-start align-items-center">
                        <img class="account-img rounded-circle-lg" src="{{ url_for('static', filename='Images/' + post.author.image_file) }}" alt="User Image">
                        <div class="ml-2">
                            <h2> <a class="article-title" href="#">{{ post.title }}</a></h2>
                            <span>by <a href="{{ url_for('user', post_id=post.id) }}">{{ post.author.username }}</a></span>
                            <br>
                            <small class="text-muted">on {{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                        </div>
                    </div>
                </div>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}
